name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    name: Golang Check
    runs-on: ubuntu-latest
    # Execute the checks inside the container instead the VM.
    container: golangci/golangci-lint:v1.43.0-alpine
    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/check.sh

  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: make ci-unit-test

  integration-test:
    name: Integration test
    runs-on: ubuntu-latest
    needs: [check, unit-test]
    strategy:
      matrix:
        kubernetes: [1.22.12, 1.23.9, 1.24.3]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Install conntrack
        run: sudo apt-get install -y conntrack
      - uses: medyagh/setup-minikube@v0.0.9
        with:
          kubernetes-version: ${{ matrix.kubernetes }}
          driver: none
      - name: Add redisfailover CRD
        run: kubectl create -f manifests/databases.spotahome.com_redisfailovers.yaml
      - run: make ci-integration-test

  chart-test:
    name: Chart testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.7.2

      - name: Helm test
        run: make helm-test
